/* Write your CSS here */
.team-main-bg {
  background-image: linear-gradient(to bottom, #a4261d, #1e293b);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 50px;
  padding-right: 50px;
}
